.Rproj.user
.Rhistory
.RData
/Reports/2013-12 HSE Poisson distribution/Poisson_summary.html
/Reports/2013-12 HSE Poisson distribution/Poisson_summary.md
/Reports/2013-12 HSE Poisson distribution/Poisson_summary.Rmd